<!DOCTYPE html>
<html lang="en">
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Create New Listing</h1>    
  </div>
</div>

{% include 'header_bar.html' %}

<form method="post" autocomplete="off" action="{% url 'create_listing' %}">
  {% csrf_token %}
  <fieldset>
    {% if errors %}
    <li>{{ errors }}</li>
    <br>
    {% endif %}

    {% for field in form %}
    {{ field.label_tag }}
    <br>
    {{ field }}
    {{ field.errors }}
    <br>
    {% endfor %}
    <input type="submit" value="submit" />
  </fieldset>
  
</form>










