<!DOCTYPE html>
<html lang="en">
<body>


<div class="jumbotron">
  <div class="container text-center">
    <h1>CS 4501 Project</h1>    
    <p>Brian, Reina, & Merlin</p>
  </div>
</div>


{% include 'header_bar.html' %}

<form method="GET" action="{% url 'search' %}">
  <input type="text" name = "query" />
  <input type="submit"/>
</form>






<div class="container">    
  <div class="row">
    {% for item in results %}
    <a href="{% url 'listing' item.id %}">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ item.title }}</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">{{ item.description }}</div>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
</div><br><br>

</body>
</html>

