<!DOCTYPE html>
<html lang="en">
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Search Results</h1>    
  </div>
</div>

{% include 'header_bar.html' %}

{% if results %}
<div class="container">    
  <div class="row">
    {% for item in results %}
    <a href="{% url 'listing' item.id %}">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ item.title }}</div>
        <div class="panel-body"><img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">{{ item.description }}</div>
	<div class="panel-footer">Availability: {{ item.quantity_available }}</div>
      </div>
    </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endif %}

</body>
</html>
